@import url('variables.css');

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;

  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  background: var(--backgroud-color);
  color: var(--text-color);
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  text-decoration: none;
}
